*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #dfc3ef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-size: 4rem;
    font-weight: 50;
}
.calculator{
    width: 24rem;
    height: 44rem;
    display: grid;
    grid-template-rows: 17rem 1fr;
    ;
}

.screen{
    background: #001e34;
    border-radius: 1rem;
    display: flex;
    color: white;
    justify-content: end;
    align-items: end;
    padding-right: 1rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-bottom: 2rem;
}

.buttons-wrap{
    display: grid;
    grid-template-rows: 3fr 2fr;
}

.row1{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.row2{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.line-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.line-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.line-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
 .mainline{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.sideline{
    display: grid;
}
.line-5{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}
.line-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

button{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    cursor: pointer;
    background:#002B4A;
    border: 1px solid #001E34;
}
.zero{
    border-bottom-left-radius: 1rem;
}
.equal{
    border-bottom-right-radius: 1rem;
}
.cancel, .less, .equal{
    color: rgb(4, 206, 4);
}
.times, .divide, .plus, .minus{
    color: #8E82D8;
}
